# **User Defined Function**

*   Functions are sub program
*   functions are used to perform a specific task
*   If there are several tasks, one can write multiple functions
*   In Python, interpreter creates an object of function internally.
*   When we define function inside a class, it is called as a method.
*   'def' keyword is used to define function
*   Recurion:-function have call to itself

**Syntax of Function Definition**

def function_name(parameter list):

____statements



*   Functions can not executes its own
*   It's need to call/invoke when required
*   Function is called/invoked using its name and passing values if any.

**Syntax of function call**

function_name(value/values)

*   It is also possible to return values back to the calling place from function
*   return is used to send values back to calling place

**Syntax of returning value/s**

return value/values

**Advantages of User Defined Function**
1.   Reusability
2.   Easy to read and write
3.   Easy to debug & maintain
4.   Work distribution is possible
5.   Saves development time

In [ ]:
# Write a function to diaply message
def msg():
    print('Welcome...')
msg()

Welcome...

In [ ]:
# Write a function to exchange values of any data type
def swap(a,b):
    print("before swapping a=",a," b=",b)
    t=a
    a=b
    b=t
    print("after swapping a=",a," b=",b)

swap(1,2)
swap("Dhule","Shirpur")
x=[1,2,3]
y=[4,5,6]
swap(x,y)

before swapping a= 1  b= 2
after swapping a= 2  b= 1
before swapping a= Dhule  b= Shirpur
after swapping a= Shirpur  b= Dhule
before swapping a= [1, 2, 3]  b= [4, 5, 6]
after swapping a= [4, 5, 6]  b= [1, 2, 3]

In [ ]:
# Write a function to check largest of two numbers
def max2(a,b):
    if a>b :
        print(a)
    else:
        print(b)
x=input("enter no1")
y=input('enter no2')
max2(x,y)

enter no11
enter no22
2

**Returning values from function**

In [ ]:
# Returning none - if return is not used in function, it will send None
def test():
    print('Hi')
x=test()
print(x)

Hi
None

In [ ]:
# Returning only one value
def max2(a,b):
    if a>b :
        return a
    else:
        return b
x=input("enter no1")
y=input('enter no2')
mx=max2(x,y)
print("largest no is", mx)

enter no15
enter no26
largest no is 6

In [ ]:
# Returning Multiple values
def swap(a,b):
    return b,a

x=input("enter no1")
y=input('enter no2')
print("before swapping x=",x," y=",y)
x,y=swap(x,y)
print("after swapping x=",x," b=",y)

enter no15
enter no27
before swapping x= 5  y= 7
after swapping x= 7  b= 5

In [ ]:
# Recursion - to find factorial of a number
def fact(n):
    if n==2:
        return 2
    return n*fact(n-1)

f=fact(4)
print(f)

24

**Arguments**

*   Formal Arguments/Parameters
*   Actual Arguments/Parameters

*Following types of arguments supported by functions*
1.   Positional Arguments
2.   Keyword/named Arguments
3.   Default Arguments
4.   Variable Length Arguments

>*   function (farg,*args)
*   function(**kwargs)

In [ ]:
# Example of Positional Arguments
def test(a,b,c,d):
    print(a,b,c,d)
test(1,2,3,4)

1 2 3 4

In [ ]:
# Example of Keyword Arguments
def test(a,b,c,d):
    print(a,b,c,d)
test(d=1,b=2,a=3,c=4)

3 2 4 1

In [ ]:
# Example of Default Arguments
def test(a=40,b=30,c=20,d=10):
    print(a,b,c,d)
test()
test(100)
test(100,200)
test(100,200,300)
test(100,200,300,400)

40 30 20 10
100 30 20 10
100 200 20 10
100 200 300 10
100 200 300 400

TypeError: ignored

In [ ]:
# Example of Varisble Length Argument
def maximum(*args):
    print(max(args))

maximum(1)
maximum(1,2)
maximum(1,2,3,4,5,5)
maximum(1,3,4,5,6,7,787,8,89,9,9,9,9,9,10)

1
2
5
787

In [ ]:
# Example of Keword variable length arguments
def fun(**kwargs):
    print(kwargs)
fun(a='1')
fun(a=2,b=5)
fun(a=2,b=5,c=2,d=5)

{'a': '1'}
{'a': 2, 'b': 5}
{'a': 2, 'b': 5, 'c': 2, 'd': 5}

**Lambda Function (Anonymous Function)**

In [ ]:
F=lambda a,b:a+b

#call

sum=F(10,20)

print(sum)

30

# **str - String**


*   Str represents string datatype
*   A String is collections/group of characters
*   Strings are enclosed in ' ' or " " or ''' ''' or """  """
*   The slice operator [] to access elements of string or substring

In [ ]:
s1='SVKM\'s NMIMS MPSTME Shirpur, Dist-Dhule'
print(type(s1))
print(s1)

<class 'str'>
SVKM's NMIMS MPSTME Shirpur, Dist-Dhule

In [ ]:
s2="SVKM's NMIMS MPSTME Shirpur, Dist-Dhule"
print(type(s2),s2)

<class 'str'> SVKM's NMIMS MPSTME Shirpur, Dist-Dhule

In [ ]:
s3='''SVKM's NMIMS MPSTME Shirpur, 
Dist-Dhule'''
print(type(s3),s3)

<class 'str'> SVKM's NMIMS MPSTME Shirpur,
Dist-Dhule

In [ ]:
s4="""SVKM's NMIMS MPSTME Shirpur, 
Dist-Dhule"""
print(type(s4),s4)

<class 'str'> SVKM's NMIMS MPSTME Shirpur,
Dist-Dhule

In [ ]:
# Slicing Operator... to access string...
str="Python Programming"
print(str[0])  # print char at 0
print(str[-1]) # print char at -1, from RHS
#[start:stop:step]
print(str[1:5]) # print chars from 1 to 4 (5-1)
print(str[:])  # print chars from 0 to end
print(str[:6]) # print chars from 0 to 5
print(str[5:]) # print chars from 5 to end
print(str[::2]) # print every second chars from 0 to ends
print(str[::-1]) # as step is -ve starts from RHS  --- reverse string
print(str[1:9:2]) # print every second chars from 1 to 8
print(str[-6:-1]) # What is output ???

print(str*3) # Repeats the string 3 time

str2= " Language"
print(str + str2) # String Concatination

#Note:- This slicing operators will also work with tuple and list....

P
g
ytho
Python Programming
Python
n Programming
Pto rgamn
gnimmargorP nohtyP
yhnP
ammin
Python ProgrammingPython ProgrammingPython Programming
Python Programming Language

**len()**- finds the length of a string

In [ ]:
s="Python Programming"
print(len(s))

18

**Removing Spaces From String**
*   strip() - Removes spaces from both side
*   rstrip() - Removes spaces at right side
*   strip() - Removes spaces from left side

In [ ]:
#
s="  Mugdha  "
print(s.lstrip()+'_')
print(s.rstrip())
print(s.strip())

Mugdha  _
  Mugdha
Mugdha

In [ ]:
#

**Finding Sub String**
*   find() - find the substring from L to R and returns index position if found and returns -1 if not found...
*   rfind() - find the substring from R to L.
*   index() - returs the position of substring from L to R.  
*   rindex() - searches from R to L

In [ ]:
s="Mukesh Patel School of Technology Management and Engineering Shirpur"
f=s.find('M') # Returns 0
print(f)
i=s.index('M') # Returns 0
print(i)
fr=s.rfind('M') # Returns 34 - search from right and count from left side
print(fr)
ir=s.rindex('M') # Returns 34 - search from right and count from left side
print(ir)
'''
fz=s.find('Z') # Returns -1
print(fz)
iz=s.index('Z') # Throws Exception:- ValueError
print(iz)
'''

0
0
34
34
-1
0

In [ ]:
# Uncomment and Run..
# It searches sub from beginning to end.
#s.find('Ma',0,len(s))

-1

In [ ]:
# Uncomment and Run..
# It searches sub from beginning to end-10
#s.index('Man',0,len(s)-10)

**capitalize( )** - Convert first character to upper case

In [ ]:
s='mugdha'
m=s.capitalize( )
print(m)

Mugdha

**count()** - returns the number of times a substring  occurs in a string

In [ ]:
s="Dhananjay Joshi"
c=s.count('an')
print(c)

2

**replace('old','new')**

In [ ]:
s='Paranjay'
r=s.replace('Par','Dhan')
print(r)

Dhananjay

**split('dltmr')**

In [ ]:
s="Python For Begineers Session 2"
s.split(' ') # splitting using =' '

['Python', 'For', 'Begineers', 'Session', '2']

**lower( ),upper( ), swapcase( ), title( )**

In [ ]:
print(s.lower())
print(s.upper())
print(s.swapcase())
print(s.title())

python for begineers session 2
PYTHON FOR BEGINEERS SESSION 2
pYTHON fOR bEGINEERS sESSION 2
Python For Begineers Session 2

In [ ]:
# Traversing String uing For loop
s="Python"
for e in s:
    print(e)

P
y
t
h
o
n

In [ ]:
# Traverstng String using while loop
s="Python"
i=0
while i<len(s):
    print(s[i])
    i+=1

P
y
t
h
o
n

# **Range Datatype**

*   It represnts a sequence of numbers
*   The numbers in the range are not modifiable.
*   Generally it is used in for loop.

In [ ]:
range(10)

range(0, 10)

In [ ]:
range(1,10)

range(1, 10)

In [ ]:
r=range(1,10,2)

In [ ]:
#a=list(range(10))
#a

# **List Datatype**

*   Similar to arrays in C/C++/Java [array is homogeneous]
*   List is a group of hetrogeneous elements
*   List can grow dynamically in memoery
*   List is represented as [ ] and elements are seperated with commas.

In [ ]:
# Example...
list=[10,20,"Shirpur",40.2, "Dhananjay"]

In [ ]:
print(list)

[10, 20, 'Shirpur', 40.2, 'Dhananjay']

In [ ]:
# to know type of the list
type(list)

list


1.  **List is mutable - modication is possible.**

In [ ]:
list[4]='Shalvi'

In [ ]:
print(list)

[10, 20, 'Shirpur', 40.2, 'Shalvi']

In [ ]:
list[-4:-1]

[20, 'Shirpur', 40.2]

**Creating Empty List**

In [ ]:
lst=[]

In [ ]:
lst=list()

TypeError: ignored

**Creating List Using Range()**

In [ ]:
a=list(range(10))
a

TypeError: ignored

**Accessing List elements/Items**

In [ ]:
lst=[1,2,3,4,5]
print(lst[0])
# refer slicing operations applied on string

1

**Updating List elements/Items**

In [ ]:
lst[1]=50
print(lst)

# Homework:- try for its various possibilites using slicing operator...

[1, 50, 3, 4, 5]

**append( )**
*   append(item) - can append one item
*   append(sequence) - Can also append another sequence

In [ ]:
lst1=[1,2,3,4] 
lst1.append(5)
print(lst1)

[1, 2, 3, 4, 5]

In [ ]:
lst2=(6,7,8,9)
lst1.append(lst2)
print(lst1)

[1, 2, 3, 4, 5, [6, 7, 8, 9], (6, 7, 8, 9)]

**insert()**

*   insert(index,object)

In [ ]:
lst1=[1,2,3,4] 
lst1.insert(2,5)
print(lst1)

[1, 2, 5, 3, 4]

**extend( )**
*   extend(object)

In [ ]:
lst1=[1,2,3,4]
t1=(1,2,3)
lst1.extend(t1)
print(lst1)

[1, 2, 3, 4, 1, 2, 3]

**Removing List Items**
*   remove(item)
*   pop()
*   pop(index)
*   clear()
*   del keyword
>*   del list[0] - delete element at 0
>*   del list  - delete the list completly

In [ ]:
frt=["apple","Banana","Mango"]
frt.remove('Banana')
frt

In [ ]:
frt=["apple","Banana","Mango"]
frt.pop()
frt

In [ ]:
frt=["apple","Banana","Mango"]
frt.pop(1)
frt

In [ ]:
frt=["apple","Banana","Mango"]
frt.clear()
frt

In [ ]:
frt=["apple","Banana","Mango"]
del frt[0]
frt

In [ ]:
frt=["apple","Banana","Mango"]
del frt
#frt

**sort()** - Sorts the elements in ascending order
*   Ex.
>*   list.sort()

**sort(reverse=True)** - Sorts the elements in dscending order
*   Ex.
>*   list.sort(reverse=True)

**reverse()** - Reverse the order of the list.
*   Ex.
>*   list.reverse()

**count()** 
*   list.count(x)

**copy()** 
*   list2=list1.count()

**Nested List**
*   List with in a list.

In [ ]:
lst=[[1,2,3],[1,2,4]]
lst

[[1, 2, 3], [1, 2, 4]]

**Traversing List using Loop**

In [ ]:
# For Loop

In [ ]:
# While Loop

In [ ]:
# Print it in matrix form.
lst=[[1,2,3],[1,2,4]]
lst
for sub in lst:
    for e in sub:
        print(e,end=' ')
    print()
print()

1 2 3
1 2 4

# **tuple Datatype**

*   Tuple is similar to list, only diffrence is it is immutable(Not possible to modify)
*   Represented in ()

In [ ]:
# Example...
tpl=(10,20,"Shirpur",40.2, "Dhananjay")

In [ ]:
type(tpl)

tuple

In [ ]:
print(tpl)

(10, 20, 'Shirpur', 40.2, 'Dhananjay')

**tuples are immutable - modification is not possible**

In [ ]:
# Error as we are modifying tuple...
tpl[4]='Mugdha'

TypeError: ignored

In [ ]:
tpl[0:3]
#.. Refer slicing operations perfromed on string to access tuple

(10, 20, 'Shirpur')

In [ ]:
# Emplty Tuple
t=()
t=tuple()

In [ ]:
#tuple with only one element
t=(1,)
t

(1,)

In [ ]:
# concatination Operation
t1=(1,2)
t2=(3,4)
print(t1+t2)

(1, 2, 3, 4)

In [ ]:
# repetation
print(t1*2)

(1, 2, 1, 2)

**Operations on Tuples**


*   len(tuple)
*   tuple.count(x)
*   tuple.index(x)
*   min(tuple)
*   max(tuple)
*   del tuple

**How to delete or inseet element in tuple??** 
*   convert tuple to list
*   perform operations on list
*   Convert list to tuple

**Traversing tuple using Loop**

In [ ]:
#for

In [ ]:
#while

# **Quiz-3**

**[www.menti.com](https://)**

**Use Code 5484 1005**

# **Set DataTypes**

*   Unordered (the order is not maintain) collections of elements
*   Duplicate elements are not allowed
*   Represented by { }

*   Two Types

>*   set
*    frozenset

In [ ]:
# set
s={1,2,3,4,4,4,3,3,3,2,1}
s

{1, 2, 3, 4}

In [ ]:
# Accessing set elements - cannot access using slicing operator.
s={1,2,3,4,4,4,3,3,3,2,1}
for e in s:
    print(e)

1
2
3
4

In [ ]:
# to know length of set..
len(s)

4

In [ ]:
# Adding Item in set
s={1,2,3,4}
s.add(10)
print(s)

{1, 2, 3, 4, 10}

In [ ]:
# To add more than one item use update()
s={1,2,3,4}
s.update([10,20])
print(s)

{1, 2, 3, 4, 10, 20}

In [ ]:
# Remove() 
s={1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

In [ ]:
#Discard() similar to remove() only difference is it will not raise error
s={1,2,3,4}
s.discard(4)
print(s)

{1, 2, 3}

In [ ]:
#pop() - As list is unordered, we dont know which is last element
s={2,1,1,4}
s.pop()
print(s)

{2, 4}

In [ ]:
#clear() - empties the set..
s={1,2,3,4}
s.clear()
print(s)

set()

In [ ]:
# del Keyword - deletes the set completely...
s={1,2,3,4}
del s
#print(s)

In [ ]:
# How to delete duplicate elements from list??

#How to find common elements in two list...
l1=[1,2,3,4]
l2=[3,4,5,6,7]
s1=set(l1)
s2=set(l2)
s3=s1.intersection(s2)
l3=list(s3)
l3

[3, 4]

In [ ]:
# Homework - Other methods and frozenset...

# **Dictionary**

*   dict - represnts dictionary
*   Dict contains pair of elements
*   key:values
*   Represented using {}

In [ ]:
d={1:'Mon',2:'Tues',3:'Wed',4:'Thus',5:'Fri',6:'Sat',7:'Sun'}

In [ ]:
type(d)

dict

In [ ]:
print(d)

{1: 'Mon', 2: 'Tues', 3: 'Wed', 4: 'Thus', 5: 'Fri', 6: 'Sat', 7: 'Sun'}

In [ ]:
#dict[key] to access
d[4]

'Thus'

In [ ]:
#keys()
d.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7])

In [ ]:
#values
d.values()

dict_values(['Mon', 'Tues', 'Wed', 'Thus', 'Fri', 'Sat', 'Sun'])

In [ ]:
#creating empty dictionary
d=dict()
d
d1={}
type(d1)

dict

In [ ]:
d={1:'Mon',2:'Tues',3:'Wed',4:'Thus',5:'Fri',6:'Sat',7:'Sun'}

In [ ]:
# length
len(d)

7

In [ ]:
# adding element to dict...
d[8]='Holiday'

In [ ]:
# Keys should be unique
# Keys should be of immutable type

In [ ]:
# traversing dict...
for k in d:
    print(k)

1
2
3
4
5
6
7

In [ ]:
for k in d:
    print(d[k])

Mon
Tues
Wed
Thus
Fri
Sat
Sun

**Dictionary Method**
*   copy() - d.copy()
*   items() - d.items() - returns key-value pair of d
*   get() - d.get(k) - returns value at k
*   clear() - d.clear() - clear the dict d
*   pop() - d.pop(k)
*   popitem() -d.popitems() removes last inserted item
*   del - del d[k]
*   del - del d

In [ ]:
d

{1: 'Mon',
 2: 'Tues',
 3: 'Wed',
 4: 'Thus',
 5: 'Fri',
 6: 'Sat',
 7: 'Sun',
 8: 'Holiday'}

In [ ]:
d[8]

'Holiday'

In [ ]:
del d[8]

In [ ]:
d

{1: 'Mon', 2: 'Tues', 3: 'Wed', 4: 'Thus', 5: 'Fri', 6: 'Sat', 7: 'Sun'}

In [ ]:
# Modules...

# **Feedback of the workshop...**

In [ ]:
class Test:
    def __init__(self):
        print("I am construcotor")
    def fun(self):
        self.a=10
        print(self.a)
t=Test()
t.fun()

I am construcotor
10